@import "tailwindcss";

html, body {
  width: 100%;
  overflow-x: hidden; 
  scroll-behavior: smooth;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}